body {
    background-color: #01064B;
    height: 100%;
    /* background-color: white; */
}

.grid-filtrados, .grid-favoritos, .grid-player {
    padding: 0rem;
    color: white;
    background-color: transparent
}

.grid-favoritos {
    margin-top: 0px;
    margin-right: 2rem;
}

.grid-player {
    margin-left: 2rem;
}

.pbshadow {
    background-color: #001170;
    padding: 1rem;
    border-radius: 1em;
    /* background-color: transparent;
    -webkit-box-shadow: 0px 0px 10px 10px #001170;
    -moz-box-shadow: 0px 0px 10px 10px #001170;
    box-shadow: 0px 0px 0px 10px 10px #001170; */
    /* box-shadow: 1rem 1rem 1rem 1rem #001170; */
}

.grid-filtrados {
    background-color: transparent;

    background: rgba(1,6,75,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(1,6,75,1) 0%, rgba(0,17,112,1) 0%, rgba(1,6,75,0.44) 56%, rgba(1,6,75,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(1,6,75,1)), color-stop(0%, rgba(0,17,112,1)), color-stop(56%, rgba(1,6,75,0.44)), color-stop(100%, rgba(1,6,75,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(1,6,75,1) 0%, rgba(0,17,112,1) 0%, rgba(1,6,75,0.44) 56%, rgba(1,6,75,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(1,6,75,1) 0%, rgba(0,17,112,1) 0%, rgba(1,6,75,0.44) 56%, rgba(1,6,75,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(1,6,75,1) 0%, rgba(0,17,112,1) 0%, rgba(1,6,75,0.44) 56%, rgba(1,6,75,0) 100%);
    background: radial-gradient(ellipse at center, rgba(1,6,75,1) 0%, rgba(0,17,112,1) 0%, rgba(1,6,75,0.44) 56%, rgba(1,6,75,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01064b', endColorstr='#01064b', GradientType=1 );
}

.track {
    text-align: center;
}

.list-group{
    color:white;
}

.list-group-item{
    background-color: transparent;
    margin: 0px;
    padding: 0rem;
}

.active {
    color: #5CB85C;
}

th{
    color:white;
}

#table-favoritos {
    color:rgba(255, 255, 255, 0.8);
    background-color: transparent;
    margin: 0px;
    padding: 0rem;
}

#table-favoritos tbody tr:hover {
    color: white;
}

#table-favoritos tbody tr.active:hover  {
    color: #5CB85C;
}

h3 {
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
    font-size: 22px;
}


a.list-group-item {
    border-bottom: 1px solid #001170;
}

a.list-group-item:first-child {
    border-top: 1px solid #001170;
}

.descricao_favoritos, .descricao_estilos{
    color:white;
    margin-top: 0px;
    font-size: 14px;
}

@media(max-width: 800px) {
    .grid-favoritos{
        margin: 0;
        display: -ms-flexbox;  
        width: 100%; 
    }

    .grid-player {
        width: 100%;
        margin: 0;
    }

}

@media(max-width: 995px) {
    .grid-player {
        margin: 0;
        width: 100%;
        margin-top: 2rem;
    }

    .grid-favoritos{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-top: 0rem;
    }

    .grid-filtrados {
        margin-bottom: 0rem;
    }

}

