.profile-item {
  text-align: center;
  color: white;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.50);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.profile-picture img {
  width: 128px;
  border-radius: 100%;
}

.user-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
}

.excluir-conta{
  color:red;

}

a:hover{
  color: lightcoral;
  text-decoration: none;
}

.background-image-blur {
    background-repeat:no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-color: transparent;
    height: 1000px;
    width: 1500px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);

}
